@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Josefin+Sans:ital@1&family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Nunito:wght@300&display=swap');

body {
    background-color: rgb(4, 53, 61);
   }

h1 {
    color: rgb(3, 36, 37);
    font-family: 'Playfair Display SC', serif;
	font-size: 60px;
    background-image:url("textura.jpg");
    margin: 10px ;
    border-style: double;
    border-width: 10px;
    border-color: lightblue;
    padding: 25px;
    border-radius: 25px;
    text-decoration:underline;
    line-height: 1.8;
    text-shadow: 2px 2px rgb(39, 182, 238); /*2px de sombra horizontal y vertical*/
    /*text-shadow: 2px 2px 5px red; /* efecto de 5px de desenfoque */
}

p {
    background-color: rgb(191, 245, 215);
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:rgb(3, 36, 37);
    margin: 10px;
    border-style:groove;
    border-width: 5px;
    padding: 25px;
    border-radius: 10px;
    letter-spacing: 3px;

}

h2{
    background-color: rgb(3, 36, 37);
    color: rgb(233, 245, 191);
    font-size: 40px;
    font-family: 'Merriweather', serif;
    margin: 10px;
    border-style:ridge;
    border-width: 5px;
    border-radius: 25px;
    padding: 30px;
    width: 900px;
    word-spacing: 5px;
    letter-spacing: 6px;
    text-shadow: 2px 2px rgb(238, 39, 195); /*2px de sombra horizontal y vertical*/
    /*text-shadow: 2px 2px 5px red; /* efecto de 5px de desenfoque */
}
